.tachi-navbar-container {
    background-color: var(--default-bg-color);
    padding: 0.3rem 1rem;

    display: flex;
    align-items: center;
    .tachi-navbar-item {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .tachi-navbar-item:last-of-type {
        margin-left: 1rem;
    }
    .tachi-navbar-item-full {
        flex-grow: 1;
    }
}

.avatar {
    margin-right: 1rem;
}

.search-icon {
    display: flex;
    // border: 1px solid #000;
}

.light-theme-icon {
    display: flex;
    margin-right: 4px;
}
.dark-theme-icon {
    display: flex;
    margin-left: 4px;
}

.github-icon {
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--default-font-color);
    cursor: pointer;
    transform: translateY(-0.1rem);
}
