.tachi-sidebar-container {
    height: 100%;
    color: var(--default-font-color);

    display: flex;
    position: relative;
    .tachi-sidebar-main-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .tachi-sidebar-navbar-container {
            padding: var(--default-vertical-padding) var(--default-horizental-padding);
            height: calc(3.6rem);
            background-color: var(--navbar-bg-color);
        }
        .tachi-sidebar-content-container {
            padding: var(--default-vertical-padding) var(--default-horizental-padding);
            flex-grow: 1;
            background-color: var(--default-bg-color);
        }
    }
}

.tachi-sidebar-drag-slide-container {
    display: flex;
    &:hover {
        .tachi-sidebar-drag-slide {
            border-color: var(--hover-border-color);
        }
    }
}

.tachi-sidebar-drag-slide {
    width: 1rem;
    background-color: transparent;
    cursor: ew-resize !important;

    display: flex;
    flex-direction: column;
    .tachi-sidebar-drag-navbar {
        height: calc(3.6rem);
        background-color: var(--navbar-bg-color);
    }
    .tachi-sidebar-drag-content {
        flex-grow: 1;
        background-color: var(--default-bg-color);
    }
}

.tachi-sidebar-ldrag-slide {
    border-right: 0.1rem solid var(--default-border-color);
}

.tachi-sidebar-rdrag-slide {
    border-left: 0.1rem solid var(--default-border-color);
}

.tachi-sidebar-mask {
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    cursor: ew-resize;
    
    position: absolute;
    top: 0;
    left: 0;
}