.tachi-sidebar-container {
    height: 100%;
    color: var(--default-font-color);

    display: flex;
    position: relative;
    .tachi-sidebar-main-container {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        .tachi-sidebar-navbar-container {
            padding: var(--default-vertical-padding) var(--default-horizental-padding);
            height: calc(3.6rem);
            background-color: var(--navbar-bg-color);
        }
        .tachi-sidebar-content-container {
            padding: var(--default-vertical-padding) var(--default-horizental-padding);
            flex-grow: 1;
            background-color: var(--default-bg-color);
        }
    }
}
